<% provide(:title, "Aiuto") %>
<h3>Registrazione e login</h3>
<p class="text-justify">
Nella barra superiore puoi trovare il link per registrarti a GeekStore.
E' sufficiente fornire un nome ed una password.
Una volta registrato puoi loggarti in qualsiasi momento attraverso l'apposito pulsante.
E' inoltre possibile modificare il proprio profilo o cancellare il proprio account in caso di necessità.
</p>
<h3>Catalogo prodotti</h3>
<p class="text-justify">
All'interno del nostro catalogo potrai trovare tutti i prodotti disponibili, corredati da foto, prezzo e sconto.
E' possibile filtrati i prodotti in base alla categoria d'appartenenza e alla disponibilità dei punti vendita oppure visualizzare le offerte correnti.
Scegliendo un prodotto avrai accesso alla sua descrizione, ai punti vendita presso cui trovarlo fisicamente e ad un elenco di potenziamenti (se presenti) per personalizzare e arricchire il modello base.
</p>
<h3>Gestione ordini</h3>
<p class="text-justify">
Per usufruire dello shopping online è necessario essere loggati.
Una volta scelto il prodotto che t'interessa e selezionato i potenziamenti richiesti, è possibile aggiungere l'elemento al carrello attraverso l'apposito pulsante.
All'interno del carrello (consultabile attraverso il link posizionato nella barra superiore) troverai tutti i prodotti desiderati ed il costo totale dell'ordine, al netto di eventuali sconti.
Da qui potrai procedere all'acquisto, che potrà comunque essere completato successivamente.
Potrai in ogni momento visualizzare lo storico degli ordini dal menù associato al tuo profilo.
</p>
<h3>Punti vendita</h3>
<p class="text-justify">
Attraverso l'apposito pulsante posizionato nella barra superiore è possibile visualizzare l'elenco di tutti i punti vendita fisici della catena GeekStore.
Selezionando un punto vendita è inoltre possibile visualizzare la sua posizione sulla mappa.
</p>
<h3>Utenti <i>mobile</i></h3>
<p class="text-justify">
Il sito web è interamente ottimizzato per i dispositivi mobili quali smartphone o tablet.
E' comunque disponibile un'apposita app per la consultazione dello stato degli ordini e per visualizzare i nostri punti vendita, con la possibilità di avviare la navigizione satellitare così da raggiungere quello più vicino a te. 
</p>
<h2>Informazioni aggiuntive</h2>
<p class="text-justify">
Per qualunque informazione o per assistenza sugli ordini non esitare a contattarci all'indirizzo <%= mail_to "info@geekstore.com" %>
</p>