<% provide(:title, @store.place) %>
<div class="row">
<iframe class="col-xs-12" style="border: 0; min-height: 400px" src="https://maps.google.com/maps?q=<%= @store.place %>&output=embed"></iframe>
</div>